<div class="flex flex-col justify-center items-center h-[calc(100%-154px)]">
  <div><h1 class="font-extrabold text-4xl mb-12">با من تماس بگیرید</h1></div>

  <div class="flex flex-row items-center">
    <div
      class="flex flex-col justify-center items-center p-5 m-4 font-normal border-l border-gray-400"
    >
      <h2 class="items-center text-xl">اطلاعات من</h2>
      <p>شماره تماس: 09154440234</p>
      <p>ایمیل:amir0234&#64;outlook.com</p>
      <p>شبکه اجتماعی: amir_0234</p>
    </div>

    <div>
      <form
        [formGroup]="form"
        class="flex flex-col items-center justify-center p-5 m-4"
      >
        <mat-form-field>
          <input
            type="text"
            matInput
            formControlName="number"
            placeholder="number"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            formControlName="email"
            placeholder="email"
          />
        </mat-form-field>

        <button type="submit" class="bg-[#3F51B5] text-white rounded-lg w-1/2 h-10">ارسال</button>
      </form>
    </div>
  </div>
</div>
